# TRABALHANDO COM ARQUIVOS(ENTRADA E SAIDA)

## ARQUIVOS DE DADOS

#### CRIAR E MANIPULAR ARQUIVOS DE DADOS

**Tabela de atributos** 

<table border="1" class="docutils" style="float: left;">
<colgroup>
<col width="11%" />
<col width="89%" />
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td>"r"</td>
<td>ler</td>
</tr>
<tr class="row-even"><td>"r+"</td>
<td>ler, escrever</td>
</tr>
<tr class="row-odd"><td>"w"</td>
<td>escrever, criar, truncar</td>
</tr>
<tr class="row-even"><td>"w+"</td>
<td>ler, escrever, criar, truncar</td>
</tr>
<tr class="row-odd"><td>"a"</td>
<td>escrever, criar, adicionar ao final</td>
</tr>
<tr class="row-even"><td>"a+"</td>
<td>ler, escrever, criar, adicionar ao final</td>
</tr>
</tbody>
</table>

** Criando Arquivos de dados**

In [2]:
arquivo_dados = "arquivo.dat"

"arquivo.dat"

In [3]:
typeof(arquivo_dados)

String

** Gravando dados **

Abrir o arquivo criado com atributo de gravação **"w"** e vincular a uma variável chamada *dados*. Se ja foi criado o arquivo use **open("arquivo.dat","w")** senão os dados serão sobreescritos. Sintaxe:
```julia
dados = open(objeto_dados/"arquivo", atributo) ou
dados = open("arquivo.dat", atributo)
```

In [104]:
# lendo "arquivo.dat" a partir da variável "arquivo_dados"
dados = open(arquivo_dados, "w")

IOStream(<file arquivo.dat>)

Ou direto (ao tentar abrir um arquivo que não existe é automaticamente criado)

In [105]:
# lendo arquivo direto
dados = open("arquivo.dat", "w")

IOStream(<file arquivo.dat>)

In [106]:
# gravando dados no arquivo
# gravando dados no arquivo
write(dados, "caramba!", "bora, ")
write(dados, "Maluco")

7

In [107]:
# fechando o arquivo
close(dados)

** Lendo arquivo de dados**

In [109]:
readstring("arquivo.dat")

"caramba!bora, Maluco,"

Atribuindo o arquivo a uma variável para fazer a leitura

In [110]:
# arquivo aberto com atributo de somente leitura
dados = open("arquivo.dat","r")

IOStream(<file arquivo.dat>)

In [111]:
linha_dados = readstring(dados)

"caramba!bora, Maluco,"

**Fechando o arquivo aberto**

In [112]:
close(dados)

In [113]:
# mesmo depois de fechado, os dados podem ser lidos a partir da variável vinculada
display(linha_dados)

"caramba!bora, Maluco,"

** obs** se fizer :

```julia
    readstring(dados)

    close(dados)

    display(linha_dados)
```

Não vai aparecer nada! uma vez que o conteúdo não está vinculado à uma variável. Logo, ao fechar o arquivo, não será possível ler

** Exemplo de dados perdidos ao gravar dados em arquivo**

In [114]:
# ler os ultimos dados gravados

readstring("arquivo.dat")

"caramba!bora, Maluco,"

In [115]:
# vincular o "arquivo.dat" à variável "arquivo_dados"

arquivo_dados = open("arquivo.dat", "w")

IOStream(<file arquivo.dat>)

In [116]:
# gravar dados no arquivo

write(arquivo_dados, "opa ih....!")

11

In [117]:
readstring("arquivo.dat")

# não leu os dados gravados porque o atributo é somente escrita

""

In [118]:
# fechando o arquivo

close(arquivo_dados)

In [119]:
# ler o conteúdo do arquivo 

readstring("arquivo.dat")

"opa ih....!"

veja que apagou o conteúdo anterior.

** Agora um exemplo com dados incluídos ao final do arquivo**

In [120]:
# ler o ultimo conteúdo gravado no arquivo

readstring("arquivo.dat")

"opa ih....!"

In [121]:
#abrindo o arquivo com atributo de ler, escrever, criar e acrescentar conteúdo ao final

arquivo_dados= open("arquivo.dat", "a+")

IOStream(<file arquivo.dat>)

In [122]:
write(arquivo_dados, "ah...!\n")

7

In [123]:
readstring("arquivo.dat")

# le o arquivo sem ainda ter gravado os dados da memoria no arquivo em disco

"opa ih....!"

In [124]:
# fechando o arquivo

close(arquivo_dados)

In [125]:
# ler o arquivo

readstring("arquivo.dat")

"opa ih....!ah...!\n"

***Agora não apagou ;)***

### MATRIZ PARA ARQUIVO

Se você tem uma matriz que deseja salvar em um arquivo de texto, ou se você quiser ler dados de um arquivo em uma matriz, você pode usar as funções **writedlm** e **readdlm**.

**writedlm()** escreve o conteúdo de uma matriz (ou qualquer objeto iterável) para um arquivo de texto, e **readdlm()** lê os dados a partir de um arquivo em um array. Sintaxe:
```julia
writedlm("matriz.dat", dados)
var_dados = readdlm("matriz.dat")
```

In [15]:
# criando uma matriz aleatória de tamanho 5

dados = rand(5,5)

5×5 Array{Float64,2}:
 0.969971  0.673646   0.624192   0.0522125  0.439492
 0.481165  0.934283   0.0534674  0.877616   0.677853
 0.709772  0.748922   0.612372   0.79297    0.214958
 0.553218  0.989269   0.26579    0.393033   0.0837207
 0.440383  0.0946043  0.992061   0.569735   0.204807

In [18]:
# escrevendo a matriz em um arquivo chamado "matriz.dat"
writedlm("matriz.csv", dados)

In [19]:
# lendo o arquivo criado
mat_dados = readdlm("matriz.csv")

5×5 Array{Float64,2}:
 0.969971  0.673646   0.624192   0.0522125  0.439492
 0.481165  0.934283   0.0534674  0.877616   0.677853
 0.709772  0.748922   0.612372   0.79297    0.214958
 0.553218  0.989269   0.26579    0.393033   0.0837207
 0.440383  0.0946043  0.992061   0.569735   0.204807

In [44]:
mat_dados = readdlm("ab.csv")

3×1 Array{Any,2}:
 "1.0,2.0"
 "3.0,4.0"
 "5.0,6.0"

In [52]:
mat_dados[2][1]

'3'

In [51]:
# ler o dado da linha 3 e coluna 5

mat_dados[3,5]

LoadError: LoadError: BoundsError: attempt to access 3×1 Array{Any,2} at index [3,5]
while loading In[51], in expression starting on line 3

In [146]:
# alterar o dado da linha 3 e coluna 5 para 100

mat_dados[3,5] = 100

100

In [131]:
mat_dados

5×5 Array{Float64,2}:
 0.319694  0.215383   0.714224  0.126688    0.531746
 0.935218  0.225459   0.111368  0.802259    0.70255
 0.794442  0.839883   0.979245  0.56488   100.0
 0.740225  0.154905   0.528663  0.51353     0.32853
 0.62663   0.0225232  0.657111  0.148249    0.374514

Uma forma de perder os dados gravados.

In [163]:
vetor_morte = [1 2 3]

1×3 Array{Int64,2}:
 1  2  3

In [164]:
writedlm("matriz1.dat", vetor_morte)

In [174]:
readdlm("matriz1.dat")

1×3 Array{Float64,2}:
 1.0  2.0  3.0

In [180]:
run(`join -j 1 matriz.dat matriz1.dat > matriz2.dat `)

join: extra operand '>'
Try 'join --help' for more information.

LoadError: LoadError: failed process: Process(`join -j 1 matriz.dat matriz1.dat > matriz2.dat`, ProcessExited(1)) [1]
while loading In[180], in expression starting on line 1

In [181]:
run(`cat matriz.dat `)

1[0.238201 0.0993379 0.720957 0.247003 0.297834; 0.377391 0.0454515 0.0732356 0.257243 0.480314; 0.111206 0.311942 0.351296 0.613528 0.507066; 0.0768203 0.966234 0.865526 0.526695 0.693228; 0.081723 0.0700041 0.393395 0.496873 0.962348]2[0.238201 0.0993379 0.720957 0.247003 0.297834; 0.377391 0.0454515 0.0732356 0.257243 0.480314; 0.111206 0.311942 0.351296 0.613528 0.507066; 0.0768203 0.966234 0.865526 0.526695 0.693228; 0.081723 0.0700041 0.393395 0.496873 0.962348]3

Os dados foram perdidos porque a matriz foi substituida por um vetor.

## DATA FRAMES 

Os dataframes são objetos usados para guardar dados na forma de tabelas. Um data frame possui colunas nomeadas, sendo que todas as colunas possuem a mesma quantidade de linhas. DataFrame é a melhor forma de guardar informações pois além de manter uma boa formatação dos dados, ainda permite que seja gravado em arquivos do tipo CSV, que podem ser abertos e manipulados em softwares de planilha tipo excel ou calc.

### CRIAR E MANIPULAR DATAFRAMES

#### CRIAR DATAFRAMES 

Para criar um dataframe use a sintaxe:
```julia
Nome_dataFrame(nome_coluna_1 =[dado1_col_1,dado2_col_1], nome_coluna_2 = [dado1_col_2,dado2_col_2])

ou

nome_dataframe = DataFrame()
nome_dataframe[:nome_coluna_1] = [dado1_col_1,dado2_col_1]
nome_dataframe[:nome_coluna_1] = [dado1_col_1,dado2_col_1]

```
**OBS** : Nomes das colunas não podem ter espaço

In [35]:
using DataFrames

In [36]:
# criar o dataframe.
# Nomes das colunas não podem ter espaço

dados = DataFrame(Nome_do_software =["scilab","julia"], Ano = [2005,2012])

dados

2×2 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano  │
├─────┼──────────────────┼──────┤
│ 1   │ "scilab"         │ 2005 │
│ 2   │ "julia"          │ 2012 │

Ou assim:

In [37]:
# Nomes das colunas não podem ter espaço

dados = DataFrame()

dados[:Nome_do_sofware] = ["scilab","julia"]
dados[:Ano]             = [2005,2012]

dados

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │

In [38]:
# salvar no arquivo 

writetable("dataframe.dat", dados)

In [39]:
# exibindo o arquivo e o conteúdo 

readtable("dataframe.dat")

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │

Outro exemplo

In [40]:
# Nomes das colunas não podem ter espaço

Softwares = DataFrame()

Softwares[:Nome_do_software]  = ["Julia", "SageMath", "Maxima", "Octave","Maxima"]
Softwares[:Ano_de_lancamento] = [2012, 2005, 1980, 2000, 1980]
Softwares[:Site]              = ["julialang.org","sagemath.org","maxima.org","gnu.org/octave", "maxima.org"]

Softwares

5×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "Julia"          │ 2012              │ "julialang.org"  │
│ 2   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 3   │ "Maxima"         │ 1980              │ "maxima.org"     │
│ 4   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 5   │ "Maxima"         │ 1980              │ "maxima.org"     │

In [41]:
# Visualizar cabeçalho das colunas

names(Softwares)

3-element Array{Symbol,1}:
 :Nome_do_software
 :Ano_de_lancamento
 :Site

In [42]:
# saber os tipos dos elementos do dataframe. Aqui temos String (primeira coluna) e tipo Inteiro (segunda coluna)

eltypes(Softwares)

3-element Array{Type,1}:
 String
 Int64
 String

In [43]:
# salvar no arquivo 

writetable("softwares_dataframe.dat", Softwares)

#### MANIPULAR COLUNAS, LINHAS E CONCATENAR DATAFRAMES

In [44]:
using DataFrames

** Para adicionar uma nova coluna de dados ao DataFrame use:**
```julia
DataFrame[:nova_coluna] = [vetor_dados]
```

In [45]:
# Copia dataframe "dados" gravado em arquivo

dados1 = readtable("dataframe.dat")

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │

In [46]:
# Adicionar uma nova coluna de dados

dados1[:Gostei] = ["Sim", "Sim"]

2-element Array{String,1}:
 "Sim"
 "Sim"

In [47]:
dados1

2×3 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │ Gostei │
├─────┼─────────────────┼──────┼────────┤
│ 1   │ "scilab"        │ 2005 │ "Sim"  │
│ 2   │ "julia"         │ 2012 │ "Sim"  │

** Para deletar uma coluna use:**
```julia
delete!(Dataframe, :nome_coluna)
```

In [48]:
delete!(dados1, :Gostei)

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │

** Para alterar nome de uma coluna use:**
```julia
rename(Dataframe,:nome_coluna,:novo_nome_coluna) # apenas uma coluna
names!(Dataframe, [:novo_nome_coluna_1, :novo_nome_coluna_2]) # todas as colunas
```

In [49]:
# Copia dataframe "dados" gravado em arquivo

dados2 = readtable("dataframe.dat")

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │

In [50]:
# Alterar o nome da coluna 1 "Nome_do_sofware" para "Nome_do_programa"

rename(dados2, :Nome_do_sofware,:Nome_programa)

2×2 DataFrames.DataFrame
│ Row │ Nome_programa │ Ano  │
├─────┼───────────────┼──────┤
│ 1   │ "scilab"      │ 2005 │
│ 2   │ "julia"       │ 2012 │

** Para concatenar Dataframes na horizontal use:**
```julia
[Dataframe_1  Dataframe_2] ou
hcat(Dataframe_1 , Dataframe_2)
```

In [51]:
# Copia dataframe "dados" gravado em arquivo

dados3 = readtable("dataframe.dat")

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │

In [52]:
# Novo Dataframe 

dados_novos = DataFrame()

dados_novos[:Nome_do_sofware] = ["scilab","axiom"]
dados_novos[:Ano]             = [2005,1980]

dados_novos

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "axiom"         │ 1980 │

In [53]:
# Concatenar na horizontal

dados5 = [dados3 dados_novos]

2×4 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │ Nome_do_sofware_1 │ Ano_1 │
├─────┼─────────────────┼──────┼───────────────────┼───────┤
│ 1   │ "scilab"        │ 2005 │ "scilab"          │ 2005  │
│ 2   │ "julia"         │ 2012 │ "axiom"           │ 1980  │

Ou

In [54]:
dados5 =  hcat(dados3 , dados_novos)

2×4 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │ Nome_do_sofware_1 │ Ano_1 │
├─────┼─────────────────┼──────┼───────────────────┼───────┤
│ 1   │ "scilab"        │ 2005 │ "scilab"          │ 2005  │
│ 2   │ "julia"         │ 2012 │ "axiom"           │ 1980  │

** Para concatenar Dataframes na vertical use:**
```julia
[Dataframe_1 ; Dataframe_2] ou
vcat(Dataframe_1 , Dataframe_2)
```

In [55]:
# Concatenar na vertical

dados4 = [dados3; dados_novos]

4×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │
│ 3   │ "scilab"        │ 2005 │
│ 4   │ "axiom"         │ 1980 │

Ou

In [56]:
dados4 =  vcat(dados3 , dados_novos)

4×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │
│ 3   │ "scilab"        │ 2005 │
│ 4   │ "axiom"         │ 1980 │

Se os Dataframes tiverem somente uma coluna com nome em comum e mesmo tamanho pode ser usado a forma:
```julia
join(Dataframe_1,Dataframe_2, on = :nome_coluna_comum)
```

** Para deletar linhas e linhas com dados repetidos use:**
```julia
deleterows!(DataFrame, [linha_1,linha_2,...]) # apaga as linhas e modifica o Dataframe(CUIDADO!)
deleterows!(DataFrame, linha_1:linha_x)       # apaga as linhas e modifica o Dataframe(CUIDADO!)

unique(DataFrame)  # apaga a linha repetida 
unique!(DataFrame) # apaga a linha repetida e modifica o Dataframe(CUIDADO!)
```
Sendo x um número inteiro que representa a coluna ou elemento.

In [57]:
dados4

4×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │
│ 3   │ "scilab"        │ 2005 │
│ 4   │ "axiom"         │ 1980 │

In [58]:
# deletar uma linha
deleterows!(dados4, 2)

3×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "scilab"        │ 2005 │
│ 3   │ "axiom"         │ 1980 │

In [59]:
# deletar linhas de dados repetido
unique!(dados4)

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "axiom"         │ 1980 │

** Para ordenar os elementos de um Dataframe**

In [60]:
# Copia dataframe "dados" gravado em arquivo
dados6 = readtable("dataframe.dat")

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "scilab"        │ 2005 │
│ 2   │ "julia"         │ 2012 │

In [61]:
# ordena e atualiza
sort!(dados6, cols = order(:Nome_do_sofware))

2×2 DataFrames.DataFrame
│ Row │ Nome_do_sofware │ Ano  │
├─────┼─────────────────┼──────┤
│ 1   │ "julia"         │ 2012 │
│ 2   │ "scilab"        │ 2005 │

#### VISUALIZAR E ALTERAR DADOS EM UM DATAFRAME

In [1]:
using DataFrames

INFO: Recompiling stale cache file /home/jmarcellopereira/.julia/lib/v0.5/DataArrays.ji for module DataArrays.
INFO: Recompiling stale cache file /home/jmarcellopereira/.julia/lib/v0.5/DataFrames.ji for module DataFrames.

In [2]:
# copiar Dataframe gravado em arquivo
Softwares1 = readtable("softwares_dataframe.dat")

5×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "Julia"          │ 2012              │ "julialang.org"  │
│ 2   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 3   │ "Maxima"         │ 1980              │ "maxima.org"     │
│ 4   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 5   │ "Maxima"         │ 1980              │ "maxima.org"     │

**Visualizar dados**

```julia
DataFrame[:nome_coluna_x]              # Somente os elementos da coluna_x
DataFrame[coluna_x]                    # Somente os elementos da coluna_x

DataFrame[:nome_coluna_x][elemento_x]  # Somente um elemento da coluna_x e linha_x
DataFrame[coluna_x][elemento_x]        # Somente um elemento da coluna_x e linha_x
```

In [3]:
# Visualizando toda a primeira coluna
Softwares1[:Nome_do_software]

5-element DataArrays.DataArray{String,1}:
 "Julia"
 "SageMath"
 "Maxima"
 "Octave"
 "Maxima"

In [4]:
# Visualizando toda a primeira coluna
Softwares1[1]

5-element DataArrays.DataArray{String,1}:
 "Julia"
 "SageMath"
 "Maxima"
 "Octave"
 "Maxima"

In [5]:
# acessando o terceiro elemento da primeira coluna
Softwares1[:Nome_do_software][3]

"Maxima"

In [6]:
# acessando o terceiro elemento da primeira coluna
Softwares1[1][3]

"Maxima"

**Alterar dados em um dataframe**

```julia
DataFrame[:nome_coluna_x][elemento_x] = novo_dado           # altera o dado da coluna_x e linha_x
DataFrame[coluna_x][elemento_x]       = novo_dado           # altera o dado da coluna_x e linha_x
DataFrame[[elem_x1,elem_x2,elem_x3],:coluna_x] = novo_dado* # altera os dados dos elem x1,x2,x3 da coluna_x

*novo_dado pode ser um vetor correspondente aos novos dados de elem x1,x2,x3...
```

In [7]:
# alterando o valor do terceiro elemrnto da primeira coluna
Softwares1[1][3] = "maXIma"

"maXIma"

In [8]:
# veja o novo nome do software maxima
Softwares1

5×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "Julia"          │ 2012              │ "julialang.org"  │
│ 2   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 3   │ "maXIma"         │ 1980              │ "maxima.org"     │
│ 4   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 5   │ "Maxima"         │ 1980              │ "maxima.org"     │

**Adicionar linha de dados**

```julia
push!(Dataframe, [dado_col_x1,dado_col_x2])
ou
nome_Dataframe = vcat(nome_Dataframe, DataFrame(dado_col_x1 = valor,dado_col_x2 = valor))
```
Sendo x um número inteiro que representa a coluna ou elemento.

In [9]:
push!(Softwares1, ["FreeMat",2001,"freemat.org"])

In [10]:
Softwares1

6×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "Julia"          │ 2012              │ "julialang.org"  │
│ 2   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 3   │ "maXIma"         │ 1980              │ "maxima.org"     │
│ 4   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 5   │ "Maxima"         │ 1980              │ "maxima.org"     │
│ 6   │ "FreeMat"        │ 2001              │ "freemat.org"    │

In [11]:
# outra forma de adicionar uma linha de dados. Ficará 2 "FreeMat"
Softwares1 = vcat(Softwares1,DataFrame(Nome_do_software="FreeMat",Ano_de_lancamento=2001,Site="freemat.org"))

7×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "Julia"          │ 2012              │ "julialang.org"  │
│ 2   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 3   │ "maXIma"         │ 1980              │ "maxima.org"     │
│ 4   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 5   │ "Maxima"         │ 1980              │ "maxima.org"     │
│ 6   │ "FreeMat"        │ 2001              │ "freemat.org"    │
│ 7   │ "FreeMat"        │ 2001              │ "freemat.org"    │

**Ordenando dados**
```julia
sort(Dataframe, cols = order(:nome_coluna))
sort!(Dataframe, cols = order(:nome_coluna)) # ordena e modifica o Dataframe(CUIDADO!)
```
Use somente **sort** sem o "! " para evitar a atualização do vetor

In [12]:
sort!(Softwares1, cols = order(:Ano_de_lancamento))

7×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "maXIma"         │ 1980              │ "maxima.org"     │
│ 2   │ "Maxima"         │ 1980              │ "maxima.org"     │
│ 3   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 4   │ "FreeMat"        │ 2001              │ "freemat.org"    │
│ 5   │ "FreeMat"        │ 2001              │ "freemat.org"    │
│ 6   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 7   │ "Julia"          │ 2012              │ "julialang.org"  │

In [13]:
# veja que o dataframe Softwares foi atualizado automaticamente
Softwares1

7×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "maXIma"         │ 1980              │ "maxima.org"     │
│ 2   │ "Maxima"         │ 1980              │ "maxima.org"     │
│ 3   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 4   │ "FreeMat"        │ 2001              │ "freemat.org"    │
│ 5   │ "FreeMat"        │ 2001              │ "freemat.org"    │
│ 6   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 7   │ "Julia"          │ 2012              │ "julialang.org"  │

**Retirar elementos repetidos**

Use somente **unique(dataframe)** sem o "! " para evitar a atualização do vetor

In [14]:
unique!(Softwares1)

6×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "maXIma"         │ 1980              │ "maxima.org"     │
│ 2   │ "Maxima"         │ 1980              │ "maxima.org"     │
│ 3   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 4   │ "FreeMat"        │ 2001              │ "freemat.org"    │
│ 5   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 6   │ "Julia"          │ 2012              │ "julialang.org"  │

#### FILTRAR  DADOS EM UM DATAFRAME

Para filtrar dados em um DataFrame temos:
```julia
Nome_DataFrame[ Nome_DataFrame[coluna].operador_logico valor, colunas_filtradas ]
```
- `Operador lógico`: > , < , =! e outros
- `valor` : valor a ser pesquisado
- `colunas`: qual ou quais colunas devem ser filtradas (use : para todas as colunas)

In [15]:
# copiar Dataframe gravado em arquivo
Softwares1 = readtable("softwares_dataframe.dat")

5×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "Julia"          │ 2012              │ "julialang.org"  │
│ 2   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 3   │ "Maxima"         │ 1980              │ "maxima.org"     │
│ 4   │ "Octave"         │ 2000              │ "gnu.org/octave" │
│ 5   │ "Maxima"         │ 1980              │ "maxima.org"     │

In [32]:
# filtrar todos os dados maiores que o ano de 1980
Softwares1[Softwares1[2].> 1980, :  ]

3×3 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │ Site             │
├─────┼──────────────────┼───────────────────┼──────────────────┤
│ 1   │ "Julia"          │ 2012              │ "julialang.org"  │
│ 2   │ "SageMath"       │ 2005              │ "sagemath.org"   │
│ 3   │ "Octave"         │ 2000              │ "gnu.org/octave" │

In [35]:
# filtrar somente a colunaa 1   maiores que o ano de 1980
Softwares1[Softwares1[2].> 1980, 1  ]

3-element DataArrays.DataArray{String,1}:
 "Julia"
 "SageMath"
 "Octave"

In [39]:
# filtrar somente as colunas 2 a 3  maiores que o ano de 1980
Softwares1[Softwares1[2].> 1980, 2:3  ]

3×2 DataFrames.DataFrame
│ Row │ Ano_de_lancamento │ Site             │
├─────┼───────────────────┼──────────────────┤
│ 1   │ 2012              │ "julialang.org"  │
│ 2   │ 2005              │ "sagemath.org"   │
│ 3   │ 2000              │ "gnu.org/octave" │

In [36]:
# filtrar somente as colunas 1 e 3  maiores que o ano de 1980
Softwares1[Softwares1[2].> 1980, [1,3]  ]

3×2 DataFrames.DataFrame
│ Row │ Nome_do_software │ Site             │
├─────┼──────────────────┼──────────────────┤
│ 1   │ "Julia"          │ "julialang.org"  │
│ 2   │ "SageMath"       │ "sagemath.org"   │
│ 3   │ "Octave"         │ "gnu.org/octave" │

## ARQUIVOS CSV 

A melhor forma de trabalhar com arquivos é salva-los no formato "CSV". ***Comma-separated values*** (ou CSV) é um formato de arquivo que armazena dados tabelados, cujo grande uso data da época dos mainframes. Por serem bastante simples, arquivos .csv são comuns em todas as plataformas de computador. 
    
O CSV é um implementação particular de arquivos de texto separados por um delimitador, que usa a vírgula e a quebra de linha para separar os valores. O formato também usa as aspas em campos no qual são usados os caracteres reservados (vírgula e quebra de linha). Essa robustez no formato torna o CSV mais amplo que outros formatos digitais do mesmo segmento.Fonte: wikipedia. 

Forma geral de um arquivo CSV na forma de texto:
```julia
   nome_coluna_1, nome_coluna_2
   dado_col_1   , dado_col_2
   dado_col_1   , dado_col_2
```
Uma forma prática de criar arquivos CSV é usando uma planilha (excel, calc-libreoffice/openoffice). Basta preencher os dados nas celulas e depois salvar como CSV.

### MANIPULAR ARQUIVOS CSV

As manipulações com os dados importados do arquivo CSV seguem o mesmo padrão das manipulações de Dataframe ja trabalhado acima.

#### IMPORTAR E VISUALIZAR DADOS EM UM ARQUIVO CSV


```julia
   var_dados = readtable("arquivo.csv")
```

In [43]:
using DataFrames

In [44]:
tabela_dados_reta = readtable("dados_reta.csv")

14×2 DataFrames.DataFrame
│ Row │ x   │ y         │
├─────┼─────┼───────────┤
│ 1   │ 0.0 │ -0.18344  │
│ 2   │ 0.2 │ -0.131101 │
│ 3   │ 0.4 │ 0.0268876 │
│ 4   │ 0.8 │ 0.110533  │
│ 5   │ 1.0 │ 0.253945  │
│ 6   │ 1.2 │ 0.25719   │
│ 7   │ 1.4 │ 0.531889  │
│ 8   │ 1.6 │ 0.579048  │
│ 9   │ 2.0 │ 0.935181  │
│ 10  │ 2.2 │ 0.9166    │
│ 11  │ 2.6 │ 1.13329   │
│ 12  │ 2.8 │ 1.26893   │
│ 13  │ 3.0 │ 1.10203   │
│ 14  │ 3.4 │ 1.13392   │

In [78]:
# visualizar toda a primeira coluna
tabela_dados_reta[1]

14-element DataArrays.DataArray{Float64,1}:
 0.0
 0.2
 0.4
 0.8
 1.0
 1.2
 1.4
 1.6
 2.0
 2.2
 2.6
 2.8
 3.0
 3.4

In [79]:
# Acessar o 7 elemento da primeira coluna
tabela_dados_reta[1][7]

1.4

In [80]:
# Visualizar toda a segunda coluna
tabela_dados_reta[2]

14-element DataArrays.DataArray{Float64,1}:
 -0.18344
 -0.131101
  0.0268876
  0.110533
  0.253945
  0.25719
  0.531889
  0.579048
  0.935181
  0.9166
  1.13329
  1.26893
  1.10203
  1.13392

#### GRÁFICO DOS DADOS DE UM ARQUIVO CSV

In [83]:
using Plots
plotlyjs()

scatter(tabela_dados_reta[1],tabela_dados_reta[2], size = (400,300))

#### MANIPULAÇÃO DE DADOS

Para editar um dado em um dataframe:
```julia
dataframe[coluna_x][linha_dado_x] = novo_valor
DataFrame[:nome_coluna_x][elemento_x] = novo_valor
```

In [84]:
# Visualizar o quinto e sexto dado da coluna 1
tabela_dados_reta[2][5] , tabela_dados_reta[2][6]

(0.253944632998395,0.257190123748649)

In [85]:
# o valor 0 é atribuído ao quinto e sexto dado da coluna 1
tabela_dados_reta[2][5] = 0 ; tabela_dados_reta[2][6] = 0;

In [86]:
# veja o valor 0 
tabela_dados_reta[2]

14-element DataArrays.DataArray{Float64,1}:
 -0.18344
 -0.131101
  0.0268876
  0.110533
  0.0
  0.0
  0.531889
  0.579048
  0.935181
  0.9166
  1.13329
  1.26893
  1.10203
  1.13392

In [88]:
# Gráfico alterado 
using Plots
plotlyjs()

scatter(tabela_dados_reta[1],tabela_dados_reta[2] , size = (400,300))

#### MANIPULAÇÕES ALGÉBRICAS

Com uma coluna de dados pode ser feita qualquer manipulação matemática. No exemplo, os dados da coluna 1 serão multiplicados por 10.

In [89]:
tabela_dados_reta[1]*10

14-element DataArrays.DataArray{Float64,1}:
  0.0
  2.0
  4.0
  8.0
 10.0
 12.0
 14.0
 16.0
 20.0
 22.0
 26.0
 28.0
 30.0
 34.0

In [90]:
# somando todo os elementos da coluna 1
mapreduce(x -> tabela_dados_reta[1][x], + ,1:length(tabela_dados_reta[1]))

22.599999999999998

ou mais facil ainda

In [91]:
sum(tabela_dados_reta[1])

22.599999999999998

In [92]:
# produto dos elementos da coluna 2
prod(tabela_dados_reta[2])

0.0

#### SALVAR DATAFRAME EM UM ARQUIVO CSV 

Forma geral de um arquivo CSV:
```julia
   writetable("nome.csv", dataframe, separator = ',', header = false)
```
** separator** -> simbolo separador das dados entre as colunas

** header**    -> cabeçalho das culunas

In [93]:
using DataFrames

In [94]:
# Nomes das colunas não podem ter espaço

Softwares = DataFrame()

Softwares[:Nome_do_software]  = ["Julia", "SageMath", "Maxima", "Octave"]
Softwares[:Ano_de_lancamento] = [2012, 2005, 1980, 2000]

Softwares

4×2 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │
├─────┼──────────────────┼───────────────────┤
│ 1   │ "Julia"          │ 2012              │
│ 2   │ "SageMath"       │ 2005              │
│ 3   │ "Maxima"         │ 1980              │
│ 4   │ "Octave"         │ 2000              │

In [95]:
writetable("Softwares1.csv", Softwares, separator = ',', header = true)

In [96]:
# Lendo os dados gravados no arquivo CSV gravado no disco
readtable("Softwares1.csv")

4×2 DataFrames.DataFrame
│ Row │ Nome_do_software │ Ano_de_lancamento │
├─────┼──────────────────┼───────────────────┤
│ 1   │ "Julia"          │ 2012              │
│ 2   │ "SageMath"       │ 2005              │
│ 3   │ "Maxima"         │ 1980              │
│ 4   │ "Octave"         │ 2000              │

In [97]:
# Gravando os dados em disco com header (cabeçalho) = false
writetable("Softwares2.csv", Softwares, separator = ',', header = false)

In [98]:
# Lendo os dados gravados no arquivo CSV gravado no disco
readtable("Softwares2.csv")

3×2 DataFrames.DataFrame
│ Row │ Julia      │ x2012 │
├─────┼────────────┼───────┤
│ 1   │ "SageMath" │ 2005  │
│ 2   │ "Maxima"   │ 1980  │
│ 3   │ "Octave"   │ 2000  │

**Outra forma de criar um DataFrame no formato CSV e salvar gravar arquivo CSV**

In [2]:
using DataFrames

Soft = csv"""

Nome_software, Ano_lançamento
Python       , 1991
Scilab       , 2000

"""

2×2 DataFrames.DataFrame
│ Row │ Nome_software │ Ano_lançamento │
├─────┼───────────────┼────────────────┤
│ 1   │ "Python"      │ 1991           │
│ 2   │ "Scilab"      │ 2000           │

In [3]:
typeof(Soft)

DataFrames.DataFrame

In [4]:
push!(Soft, ["Julia",2012])

In [7]:
# salvar em arquivo e ler os dados do arquivo
writetable("Soft.csv", Soft, separator = ',', header = true)
readtable("Soft.csv")

3×2 DataFrames.DataFrame
│ Row │ Nome_software │ Ano_lançamento │
├─────┼───────────────┼────────────────┤
│ 1   │ "Python"      │ 1991           │
│ 2   │ "Scilab"      │ 2000           │
│ 3   │ "Julia"       │ 2012           │

## APLICAÇÕES

Um pesquisador deseja investigar todas as raízes das função $~f  = x + x^2*sin(x)~$ num intervalo de 0 a 15.

In [8]:
using DataFrames,SymPy

@syms x v

INFO: Recompiling stale cache file /home/jmarcellopereira/.julia/lib/v0.5/MacroTools.ji for module MacroTools.
INFO: Recompiling stale cache file /home/jmarcellopereira/.julia/lib/v0.5/SymPy.ji for module SymPy.

(x,v)

In [9]:
# Função simbólica - quando usamos o SymPy é melhor usar função do tipo simbólica.
# Se usar f(x) = expressão definido "x" como simbólico, a função será genérica

f  = x + x.^2.*sin(x)

 2
x *sin(x) + x

In [110]:
using Plots
plotlyjs()

plot(f, 0:0.5:15)

In [10]:
# Vetor de valores iniciais (xi)
v = [0.0, 2.0, 6.0, 9.0, 13.0]

# Dataframe que vai receber as raízes calculadas de tamanho 5. 
# O tipo dos dados são Array de Float64

Resultado1 = DataFrame(Valor_X = Array(Float64,5), Raiz = Array(Float64,5));

In [17]:
# laço for adiciona o valor de "x" na primeira coluna 1
# e a raiz na coluna 2

for i = 1:length(v)
    Resultado1[1][i] = v[i]
    Resultado1[2][i] = nsolve(f, v[i])
end

In [18]:
Resultado1

5×2 DataFrames.DataFrame
│ Row │ Valor_X │ Raiz    │
├─────┼─────────┼─────────┤
│ 1   │ 0.0     │ 0.0     │
│ 2   │ 2.0     │ 0.0     │
│ 3   │ 6.0     │ 6.11902 │
│ 4   │ 9.0     │ 9.5299  │
│ 5   │ 13.0    │ 12.4862 │

**Outra forma `Like a Python`**

Criar um DataFrame vazio e um laço `for` vai adicionando ao final tal como um vetor.

In [49]:
# = [] siginifica vetor vazio

Resultado2 = DataFrame(Valor_X = [], Raiz = [])

0×2 DataFrames.DataFrame

In [50]:
# Vetor de valores iniciais (xi)
# ATENÇÃO! como o Resultado2 é um vetor vazio, a cada execução
# será criada ao final do DataFrame um novo conjunto de dados
# para evitar isso use unique!(Resultado2) ao final do laço
v = [0.0, 2.0, 6.0, 9.0, 13.0]

for i in v
    push!(Resultado2, [i, nsolve(f, i)])
end

unique!(Resultado2)

5×2 DataFrames.DataFrame
│ Row │ Valor_X │ Raiz    │
├─────┼─────────┼─────────┤
│ 1   │ 0.0     │ 0.0     │
│ 2   │ 2.0     │ 0.0     │
│ 3   │ 6.0     │ 6.11902 │
│ 4   │ 9.0     │ 9.5299  │
│ 5   │ 13.0    │ 12.4862 │

In [51]:
# Testando os resultados 

for i = 1:length(v)
    print(f(Resultado2[2][1])," ; ")
end

0.0 ; 0.0 ; 0.0 ; 0.0 ; 0.0 ;

In [56]:
# Gravando os dados em um arquivo CSV

writetable("Resultado2.csv", Resultado1, separator = ',', header = true)

**Outa forma de adicionar dados ao final de um Dataframe**

Comando vcat. Sintaxe:

```julia
vcat(nome_Dataframe, DataFrame(coluna1 = dados, coluna2 = dados))
```

**Adicionando um único valor de raiz**

In [71]:
Resultado_novo = readtable("Resultado2.csv")
Resultado_novo = vcat(Resultado_novo, DataFrame(Valor_X = 60.0, Raiz = nsolve(f, 60.0)))

6×2 DataFrames.DataFrame
│ Row │ Valor_X │ Raiz    │
├─────┼─────────┼─────────┤
│ 1   │ 0.0     │ 0.0     │
│ 2   │ 2.0     │ 0.0     │
│ 3   │ 6.0     │ 6.11902 │
│ 4   │ 9.0     │ 9.5299  │
│ 5   │ 13.0    │ 12.4862 │
│ 6   │ 60.0    │ 59.707  │

**Adicionando um único vários valores de raizes**

In [72]:
# vetor de raízes aproximadas e vetor de raizes calculadas pelo SymPy
novos_valores_x = [62, 70, 75, 80] 
novas_raizes_f = [nsolve(f, raiz) for raiz = novos_valores_x]

4-element Array{Float64,1}:
  62.8159
  69.1006
  75.385
 -15.7714

In [73]:
Resultado_novo = vcat(Resultado_novo, DataFrame(Valor_X = novos_valores_x, Raiz = novas_raizes_f))

10×2 DataFrames.DataFrame
│ Row │ Valor_X │ Raiz     │
├─────┼─────────┼──────────┤
│ 1   │ 0.0     │ 0.0      │
│ 2   │ 2.0     │ 0.0      │
│ 3   │ 6.0     │ 6.11902  │
│ 4   │ 9.0     │ 9.5299   │
│ 5   │ 13.0    │ 12.4862  │
│ 6   │ 60.0    │ 59.707   │
│ 7   │ 62.0    │ 62.8159  │
│ 8   │ 70.0    │ 69.1006  │
│ 9   │ 75.0    │ 75.385   │
│ 10  │ 80.0    │ -15.7714 │